
// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 1200px;

//Temp
$total_h: 3.3 * 100vh;

//section heights
$cover_height: 0.25;
$problem_height: 0.25;
$why_height: 0.25;
$team_height: 0.25;
$contact_height: 0.25;
$footer_height: 0.1;

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  color: $white; 
}

body {
  // overflow-x: hidden;
  box-sizing: content-box;
  overflow: auto;
  background-color: $dark-green;

  h1,
  h2 {
    color: $white;
  }

  h3,
  h4 {
    color: $white;
  }

  p {
    color: $white;
  }

  ul {
    color: $white;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }

  .section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: relative;

    &#cover {
      min-height: $cover_height * $total_h;
    }
    &#problem {
      min-height: $problem_height * $total_h;
    }
    &#why {
      min-height: $why_height * $total_h;
    }
    &#team {
      min-height: $team_height * $total_h;
    }
    &#contact {
      min-height: $contact_height * $total_h;
    }
    &#footer {
      min-height: $footer_height * $total_h;
    }

    .content {
      position: relative;
      z-index: 3;
      height: 100%;
    }
  }

  #landing-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}